<html>
  <head>
    <title>AskMeOffline</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
  </head>
  <body class="container" style="margin-top: 50 px;">
    
    <h5>Создайте комнату для вопросов</h5>

    <form action="/create" method="POST">
      <fieldset>
        <label for="sizeField">Количество участников:</label>
        <input type="text" name="size" id="sizeField">
        <input type="submit" value="Создать">
      </fieldset>
    </form>

  </body>
</html>
